<a href="https://colab.research.google.com/github/Muppasaisrija/Muppa_NFO5731_-SPRING2022/blob/main/Copy_of_In_class_exercise_03_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (2/22/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
An interesting task performed by text classification is sentiment analysis,spam detection, topic labelling,this classifies data whether it is  good or bad.
Features that can be useful to build the machine learning algorithm SVM, deep learning, NLP
1.Entity feature
2. Tfidf 
3.Linguistic feature extraction
4.Dependency Parse 
5.Word2vec features



'''

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [ ]:

# You code here (Please add comments in the code):
#importing requried packages
import nltk

from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as rq
import matplotlib.pyplot as plt
import nltk
from wordcloud import WordCloud
from nltk.corpus import stopwords


#collecting sample text data from IMDb "BheemlaNaik movie reviews"

#assigining the URL to a varilable 
url = 'https://www.imdb.com/title/tt10733228/reviews/?ref_=tt_ql_urv'

#Creating a data frame with one column to store text of reviews
data_frame = pd.DataFrame(columns=['Review'])
req = rq.get(url).text
soup = bs(req,'html.parser')

#collecting reviews text
review_text = soup.find_all('div', attrs={'class' : 'text show-more__control'})

#creating a empty list
review_list = []
for i in range(len(review_text)):
    review_list.append(review_text[i].get_text())

#assigining list to the data frame    
data_frame['Review'] = review_list

data_frame['word_count'] = data_frame['Review'].apply(lambda x: len(str(x).split(" ")))
data_frame[['Review','word_count']].head()

                                              Review  word_count
0  Gehraiyaan (2022) :\nMovie Review -On a nice w...         894
1  Very boring n aft some time the smooching n al...          90
2  The weakest part of Gehraiyaan, I thought, was...         168
3  A lady protagonist have affair with a guy due ...          34
4  ... really a well made film... one major criti...          75

In [ ]:
#Number of characters

data_frame['char_count'] = data_frame['Review'].str.len() ## this also includes spaces
data_frame[['Review','char_count']].head()

                                              Review  char_count
0  Gehraiyaan (2022) :\nMovie Review -On a nice w...        5257
1  Very boring n aft some time the smooching n al...         531
2  The weakest part of Gehraiyaan, I thought, was...        1052
3  A lady protagonist have affair with a guy due ...         208
4  ... really a well made film... one major criti...         465

In [ ]:
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

data_frame['stopwords'] = data_frame['Review'].apply(lambda x: len([x for x in x.split() if x in stop]))
data_frame[['Review','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                              Review  stopwords
0  Gehraiyaan (2022) :\nMovie Review -On a nice w...        379
1  Very boring n aft some time the smooching n al...         29
2  The weakest part of Gehraiyaan, I thought, was...         60
3  A lady protagonist have affair with a guy due ...         13
4  ... really a well made film... one major criti...         33

In [ ]:
#Number of stopwords

from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

data_frame['stopwords'] = data_frame['Review'].apply(lambda x: len([x for x in x.split() if x in stop]))
data_frame[['Review','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                              Review  stopwords
0  Gehraiyaan (2022) :\nMovie Review -On a nice w...        379
1  Very boring n aft some time the smooching n al...         29
2  The weakest part of Gehraiyaan, I thought, was...         60
3  A lady protagonist have affair with a guy due ...         13
4  ... really a well made film... one major criti...         33

In [ ]:
data_frame['hastags'] = data_frame['Review'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data_frame[['Review','hastags']].head()

                                              Review  hastags
0  Gehraiyaan (2022) :\nMovie Review -On a nice w...        0
1  Very boring n aft some time the smooching n al...        0
2  The weakest part of Gehraiyaan, I thought, was...        0
3  A lady protagonist have affair with a guy due ...        0
4  ... really a well made film... one major criti...        0

In [ ]:
data_frame['numerics'] = data_frame['Review'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data_frame[['Review','numerics']].head()

                                              Review  numerics
0  Gehraiyaan (2022) :\nMovie Review -On a nice w...         2
1  Very boring n aft some time the smooching n al...         0
2  The weakest part of Gehraiyaan, I thought, was...         0
3  A lady protagonist have affair with a guy due ...         0
4  ... really a well made film... one major criti...         0

In [ ]:
data_frame['upper'] = data_frame['Review'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data_frame[['Review','upper']].head()

                                              Review  upper
0  Gehraiyaan (2022) :\nMovie Review -On a nice w...      8
1  Very boring n aft some time the smooching n al...      0
2  The weakest part of Gehraiyaan, I thought, was...      1
3  A lady protagonist have affair with a guy due ...      1
4  ... really a well made film... one major criti...      0

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [ ]:
# You code here (Please add comments in the code):


tf1 = (data_frame['Review'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

        words  tf
0           n   5
1          to   4
2         the   3
3          is   3
4        like   3
..        ...  ..
71   nowadays   1
72        but   1
73  audiences   1
74  titillate   1
75      dues.   1

[76 rows x 2 columns]

In [ ]:
#ITF
import numpy as np

for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data_frame.shape[0]/(len(data_frame[data_frame['Review'].str.contains(word)])))

tf1

        words  tf       idf
0           n   5  0.000000
1          to   4  0.083382
2         the   3  0.083382
3          is   3  0.000000
4        like   3  0.820981
..        ...  ..       ...
71   nowadays   1  3.218876
72        but   1  0.446287
73  audiences   1  2.525729
74  titillate   1  3.218876
75      dues.   1  3.218876

[76 rows x 3 columns]

In [ ]:
#TF-IDF
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

        words  tf       idf     tfidf
0           n   5  0.000000  0.000000
1          to   4  0.083382  0.333526
2         the   3  0.083382  0.250145
3          is   3  0.000000  0.000000
4        like   3  0.820981  2.462942
..        ...  ..       ...       ...
71   nowadays   1  3.218876  3.218876
72        but   1  0.446287  0.446287
73  audiences   1  2.525729  2.525729
74  titillate   1  3.218876  3.218876
75      dues.   1  3.218876  3.218876

[76 rows x 4 columns]