<a href="https://colab.research.google.com/github/Muppasaisrija/Muppa_NFO5731_-SPRING2022/blob/main/In_class_exercise_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [29]:
str="srija"
print(len(str))

5

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‚Äò, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [6]:
def char_frequency(str1):
    dict = {}
    for i in str1:
        keys = dict.keys()
        if i in keys:
            dict[i] += 1
        else:
            dict[i] = 1
    return dict
print(char_frequency('python program'))

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 1, ' ': 1, 'r': 2, 'g': 1, 'a': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [7]:
listA = [5,6,7,2,8,4]
 
total = sum(listA)
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  32

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‚Äò, 

Expected Result : 'resta\$t'

In [8]:
def change_char(strA):
  char = strA[0]
  strA = strA.replace(char, '$')
  strA = char + strA[1:]

  return strA

print(change_char('click'))

cli$k

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [11]:
a=4
b=9
ùëÜ=3.14*(1+ùëé/ùëè)**3
print('value of S', S)

value of S 9.463072702331962

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [2]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result = {}
for d in (dic1, dic2, dic3): result.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [18]:
tupleA=("T","PYTHON","5","SRIJA","K","9")
print("SRIJA" in tupleA)

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [28]:
setA=[3,5,7,2,1,9,4,8];
print(max(setA))
print(min(setA))

9
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [33]:
import numpy as np
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
split=np.array_split(student_list,5)
for array in split:
    print(list(array))

['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229', 'kg0569']
['kg0470', 'sg1297', 'bg0320', 'fh0141', 'jl1252', 'sk1386']
['ak0956', 'sk1390', 'sk1458', 'sk1313', 'ak0934', 'vm0377']
['nm0618', 'sm1640', 'sm1907', 'gn0108', 'pr0353', 'dr0609']
['ms1500', 'aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [20]:
def find_duplicate(nums):
    num_set = set()
    no_duplicate = -1

    for k in range(len(nums)):

        if nums[k] in num_set:
            return nums[k]
        else:
            num_set.add(nums[k])

    return no_duplicate

print(find_duplicate([9, 0, 2, 6, 0, 7]))
print(find_duplicate([9, 4, 6, 2]))
print(find_duplicate([8, 8, 4, 3, 6, 2, 1]))

0
-1
8

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [27]:
import pandas as pd

def allsundays(year):
    return pd.date_range(start=str(year), end=str(year+1), 
                         freq='W-SUN').strftime('%m/%d/%Y').tolist()

allsundays(2012)

['01/01/2012',
 '01/08/2012',
 '01/15/2012',
 '01/22/2012',
 '01/29/2012',
 '02/05/2012',
 '02/12/2012',
 '02/19/2012',
 '02/26/2012',
 '03/04/2012',
 '03/11/2012',
 '03/18/2012',
 '03/25/2012',
 '04/01/2012',
 '04/08/2012',
 '04/15/2012',
 '04/22/2012',
 '04/29/2012',
 '05/06/2012',
 '05/13/2012',
 '05/20/2012',
 '05/27/2012',
 '06/03/2012',
 '06/10/2012',
 '06/17/2012',
 '06/24/2012',
 '07/01/2012',
 '07/08/2012',
 '07/15/2012',
 '07/22/2012',
 '07/29/2012',
 '08/05/2012',
 '08/12/2012',
 '08/19/2012',
 '08/26/2012',
 '09/02/2012',
 '09/09/2012',
 '09/16/2012',
 '09/23/2012',
 '09/30/2012',
 '10/07/2012',
 '10/14/2012',
 '10/21/2012',
 '10/28/2012',
 '11/04/2012',
 '11/11/2012',
 '11/18/2012',
 '11/25/2012',
 '12/02/2012',
 '12/09/2012',
 '12/16/2012',
 '12/23/2012',
 '12/30/2012']